<footer>
	<nav>
		<ul class="sub-nav">
			<li><a href="/">Inicio</a></li>
			<li><a href="/courses">Charlas</a></li>
			<li><a href="/about">Acerca de</a></li>
			<li><a href="/contact">Contacto</a></li>
		</ul>
	</nav>
	<div class="copyright">
		<p>Open Courseware Uninorte 2014. Todos los derechos reservados.</p>
	</div>
</footer>