<div class="fixed for-topbar">
	<nav class="top-bar" data-topbar role="navigation" data-options="sticky_on: large">
		<div class="row">
			<ul class="title-area">
				<li class="name">
					<h1><a href="/">OCW <span class="u">Uninorte</span></a></h1>
				</li>
				
				<!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
				<li class="toggle-topbar menu-icon"><a href="#"><span></span></a></li>
			</ul>
			<section class="top-bar-section">
				<ul class="right">
					<li class="has-form">
						<input id="search" type="text" placeholder="Buscar cursos" />
					</li>
				</ul>
			</section>
			<section class="top-bar-section">
				<ul class="left">
					<li class="hide-for-large-up"><a href="/" class="active">Inicio</a></li>
					<!-- <li><a href="/departments" class="active">Departamentos</a></li> -->
					<li><!--class="has-dropdown" -->
						<a href="/courses">Charlas</a>
						<!-- <ul class="dropdown">
							<li><a href="#">Ciencias básicas</a></li>
							<li><a href="#">Computación</a></li>
						</ul> -->
					</li>
					<li><a href="/about">Acerca de</a></li>
					<li><a href="/contact">Contacto</a></li>
				</ul>
			</section>
		</div>
	</nav>
</div>